Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.perl-ext-common: font-size
URxvt.scrollBar: false
URxvt.cursorBlink: true

URxvt*font: xft:Fira Mono:regular:size=16

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! gruvbox colorschemes
URxvt*background: #282828
URxvt*foreground: #ebdbb2

! black
*color0: #282828
*color8: #928374

! red
*color1: #cc241d
*color9: #fb4934

! green
*color2: #98971a
*color10: #b8bb26

! yellow
*color3: #d79921
*color11: #fabd2f

! blue
*color4: #458588
*color12: #83a598

! purple
*color5: #b16286
*color13: #d3869b

! aqua
*color6: #689d6a
*color14: #8ec07c

! white
*color7: #a89984
*color15: #ebdbb2

