"*":
  "atom-beautify":
    c:
      beautify_on_save: true
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "6a764bf2-cd46-48d1-b2de-f2d51a8aed63"
      showLoadingView: false
    glsl:
      beautify_on_save: true
    go:
      beautify_on_save: true
      default_beautifier: "goimports"
    python:
      beautify_on_save: true
      default_beautifier: "black"
      sort_imports: true
    yaml:
      beautify_on_save: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-outline-view": {}
    use: {}
  build:
    statusBarPriority: -1
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    customFileTypes:
      "source.json": [
        "wpn"
        "proj"
        "faction"
        "variant"
        "ship"
        "system"
      ]
    disabledPackages: [
      "language-gfm"
    ]
    projectHome: "/home/jstaf/Documents/projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 18
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "be264c27-d8a0-4aed-bd5c-3a661396a218"
  "git-diff": {}
  "go-plus":
    config: {}
    format: {}
    panel:
      displayMode: "closed"
      focusOnFailure: false
    skipCodeFormatCheck: true
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "disabled"
      runTestsOnSave: false
  "gruvbox-plus-syntax":
    variant: "No Dimmed Colors"
  "ide-go":
    diagnosticsEnabled: true
  "ide-java":
    errors:
      incompleteClasspathSeverity: "ignore"
  "java-import-wiz":
    separateGroups: false
  "one-dark-ui":
    fontSize: 14
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#282828"
        blue: "#458588"
        cyan: "#689d6a"
        green: "#98971a"
        magenta: "#b16286"
        red: "#cc241d"
        white: "#ebdbb2"
        yellow: "#d79921"
      zBright:
        brightBlack: "#928374"
        brightBlue: "#83a598"
        brightCyan: "#8ec07c"
        brightGreen: "#b8bb26"
        brightMagenta: "#d3869b"
        brightRed: "#fb4934"
        brightWhite: "#fbf1c7"
        brightYellow: "#fabd2f"
    style:
      animationSpeed: 0
      fontFamily: "Fira Mono"
      fontSize: "16"
      theme: "one-dark"
    toggles:
      autoClose: true
  "split-diff":
    ignoreWhitespace: true
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 2
".cpp.source":
  editor:
    tabLength: 4
".html.jsp.text":
  editor:
    preferredLineLength: 120
".java-properties.source":
  editor:
    preferredLineLength: 120
".java.source":
  editor:
    preferredLineLength: 120
".junit-test-report.text":
  editor:
    preferredLineLength: 120
